.is-action-responsive{
    margin-left: 5px;
    margin-right: 5px;
}
@media only screen and (max-width: 767px) {
    .responsive{
        max-width: 90%;
        overflow-x: auto;
        margin: auto;
    }
    .is-action-responsive{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .is-add-responsive{
        width: 90%;
        margin: auto;
    }
}